{% extends 'base.html.twig' %}

{% block title %}Portail Patient - Accueil{% endblock %}

{% block body %}
<div>
    <h1>Bienvenue sur le portail patient.</h1>
    <p>Vous pouvez sélectionner un établissement dans la liste ci-dessous pour obtenir plus d'informations<p>
    <div class="content-block">
        <div class="content-block__header">
            Liste des établissements
        </div>
        <div class="content-block__body">
            {# TODO: get the list from the database #}
            <a class="content-block__body-item" href="/?toto=titi">Etablissement 1</a>
            <a class="content-block__body-item" href="/?toto=titi">Etablissement 2</a>
            <a class="content-block__body-item" href="/?toto=titi">Etablissement 3</a>
            <a class="content-block__body-item" href="/?toto=titi">Etablissement 4</a>
        </div>
    </div>
</div>
{% endblock %}
